@import './../../../../../style/common.styl'

.page--indochine

  @keyframes metaball
    100% 
      background-position-x -62400px
      

  .interaction
    width 800px
    height 800px
    background url( '/assets/images/01/metaballs.png' ) no-repeat left top
    transform-origin center
    // transform scale(0.46)
    // animation metaball 2s steps(78) infinite


