@import './../../../../../style/common.styl'

.page--indochine

  .interaction
    width 800px
    height 800px
    background url( '/assets/images/01/metaballs.png' ) no-repeat left top
    transform-origin center
    opacity 0

  .pinch-pointer
    position absolute
    width 10vh
    height 10vh
    border-radius 50%
    background-color $WHITE
    transform-origin 50% 50%
    transform scale( 0 )
