@import './../../../../../style/app.styl'

.page
  position absolute
  z-index 1
  bottom 0
  right 0
  width 100%
  height 100%
  background-color darken( $WHITE, 3 )
  display flex
  flex-flow column nowrap
  opacity 0
  visibility hidden
