@import './../../../../../style/common.styl'

.synchro
  display flex
  color $WHITE

  div
    width 60em

    h2
      font-family "AWConquerorDidot-Light"
      font-size 80px
      margin-top 5%
      margin-left 0.7em

    .noPhone
      font-family "Roboto-Regular"
      font-size 12px
      opacity 1
      width 36em
      margin-top 4%
      margin-left 10%
      line-height 31px
      color rgba(255, 245, 245, 0.7)

    .text
      margin-top 4%
      margin-left 10%
      line-height 31px
      width 50em

      h5
        opacity 1
        width 29em
        font-family "Roboto-Regular"
        font-size 16px

      .numbers
        margin-left 28em
        margin-top -2em

    input
      display inline
      width 40px
      height 40px
      border none
      margin-right 10px
      background-color #222222
      color $WHITE
      font-family "Roboto-Regular"
      font-size 18px
      text-align center
