@import './../../../../../style/app.styl'

.sound
  position absolute
  height 14 + $SOUNDLEVEL_TOP
  width 100px
  color $WHITE

  .bar
    margin-top $SOUNDLEVEL_TOP
    margin-left $SOUNDLEVEL_LEFT
    position absolute
    background $WHITE
    bottom 1px
    height 3px
    width 2px
    animation sound 0ms -800ms linear infinite alternate

  .bar:nth-child(1)  { left: 1px; animation-duration: 674ms; }
  .bar:nth-child(2)  { left: 5px; animation-duration: 633ms; }
  .bar:nth-child(3)  { left: 10px; animation-duration: 607ms; }
  .bar:nth-child(4)  { left: 15px; animation-duration: 658ms; }

.sound:hover
  cursor pointer

.sound:hover> .bar
  opacity 0.7
