@import './../../../../../style/app.styl'

.tuto
  display flex
  color $WHITE
  width 100%
  justify-content center

  .text
    width 20em
    margin auto
    text-align center
    font-family "Roboto-Regular"
    font-size 16px
    line-height 30px
    opacity 1
