font-face('Farnham-Regular', '/assets/fonts/Farnham-Regular/Farnham-Regular', 'normal', 'normal')
font-face('Farnham-Medium', '/assets/fonts/Farnham-Medium/FarnhamDisplay-Medium', 'normal', 'normal')
font-face('AWConquerorDidot-Light', '/assets/fonts/AWConquerorDidot-Light/AWConquerorDidot-Light', 'normal', 'normal')
