@keyframes toActiveChapter {
  0% {
    width: 25px;
  }
  20% {
    width: 30px;
  }
  40% {
    width: 35px;
  }
  60% {
    width: 38px;
  }
  80% {
    width: 40px;
  }
  100% {
    width: 45px;
  }
}

@keyframes toInactiveChapter {
  0% {
    width: 45px;
  }
  20% {
    width: 40px;
  }
  40% {
    width: 38px;
  }
  60% {
    width: 35px;
  }
  80% {
    width: 30px;
  }
  100% {
    width: 25px;
  }
}


@keyframes sound {
    0% {
        height: 3px;
    }
    100% {
        height: 20px;
    }
}
