@import './../../../../../style/app.styl'

.page
  position absolute
  z-index 1
  bottom 0
  right 0
  width 25%
  height 7%
  // background-color darken( $WHITE, 3 )
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  opacity 0
  visibility hidden

  &__gradient
    width 100%
    height 40%
    position absolute
    bottom 0
    left 0
    background linear-gradient( to bottom, rgba( 255, 255, 255, 0 ) 0%, $BLACK 50% )
