@import './../../../../../style/app.styl'


.navigation
  position absolute
  display flex
  flex-flow column
  margin 0px 0px 0px 0px
  margin-left $MENU_RIGHT
  padding-right 500px
  height 100%
  width $MENU_WIDTH
  color $WHITE

  &__about
    margin-top: $ABOUT_TOP

  &__chapter
    margin-top auto
    margin-bottom auto
    justify-content center

    &__list, li
      height 100%
      text-align right
      color white

    li:not(:first-child)
      margin-top 50px
