@import './../../../../../style/app.styl'


.navigation
  position absolute
  display flex
  flex-flow column
  margin 0px 0px 0px 0px
  margin-left $MENU_RIGHT
  padding-right 500px
  height 100%
  width $MENU_WIDTH
  color $WHITE

  &__about
    margin-top: $ABOUT_TOP
    font-family "Roboto-Regular"
    font-size 14px
    color #FFF5F5

  &__chapter
    margin-top auto
    margin-bottom auto
    justify-content center
    width 30px

    &__list, li
      text-align right
      color white

    li, .activeChapter
      width 45px
      height 1.5px
      background-color $WHITE
      float right

    li
      width 20px
      height 1.5px
      background-color $WHITE

    li:hover
      background-color red
      cursor pointer

    li:not(:first-child)
      margin-top 50px

// li:has(> .active)
// .active
//   color red
//   width 45px
//   height 1.5px
//   background-color $WHITE
