@import './../../../../../style/app.styl'

.navigation
  position absolute
  display flex
  flex-flow column
  margin 0px 0px 0px 0px
  margin-left $MENU_RIGHT
  padding-right 500px
  height 100%
  width $MENU_WIDTH
  color $WHITE

  &__index
    margin-top -8px
    margin-left -15px
    opacity 0

  &__about
    margin-top: $ABOUT_TOP

    .about
      font-family "Roboto-Regular"
      font-size 12px
      text-transform uppercase
      color rgba(255, 245, 245, 1)
      text-align right
      cursor pointer
      
      &:hover
        color rgba(255, 245, 245, 0.7)

      .navigation__index
        opacity 1


  &__chapter
    margin-top auto
    margin-bottom auto
    margin-left auto
    width 30px

    &__list
      background-color green

    .chapter

      &__active
        width 45px
        height 1.5px
        background-color $WHITE
        float right
        margin-bottom 30px

      &__inactive
        width 20px
        height 2px
        background-color $WHITE
        float right
        margin-bottom 30px
        animation-name: toInactiveChapter;
        animation-duration: 0.2s;

    li
      padding 6px
      width 25px
      height 2px
      float right
      margin-bottom 30px
      background-color transparent


    li:hover
      cursor pointer

    li:hover> .navigation__item >.chapter__inactive
      cursor pointer
      animation-name: toActiveChapter;
      animation-duration: 0.2s;
      width 45px
