@import './../../../../../style/common.styl'

.page--notoriete

  .phone-icon
    opacity 0
    width 50%

    @media ( orientation: landscape )
      width auto
      height 25%

    svg
      width 100%
      height auto

      @media ( orientation: landscape )
        width auto
        height 100%
