.page--indochine
  position absolute
  top 20%
  left 15%
  width 60%
  height 60%
  background-image url(/assets/images/01_layer.png)
  background-size cover
  background-position left center
  background-repeat no-repeat