@import './../../../../../style/common.styl'

.loader
  @extend .full
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  z-index 99999
  background-color $BLACK
  opacity 1

  &__title
    font-family "Didot"
    font-size 6rem
    line-height 7rem
    text-align center
    color $WHITE

  &__subtitle
    font-family "Didot"
    font-size 1rem
    line-height 2rem
    text-align center
    color $WHITE
