@import './../../../../../style/common.styl'

.loader
  @extend .full
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  z-index 99999
  background-color $BLACK
  opacity 0

  &__sprite
    width 200px
    height 200px
    background url( '/assets/images/loader.png' ) no-repeat left top