@import './../../../../../style/common.styl'

.loader
  @extend .full
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  z-index 99999
  background-color $BLACK
  opacity 0