@import './../../../../../../style/common.styl'

.burger-menu
  position absolute
  top 2rem
  right 2rem
  padding 0.5rem
  &__line
    display block
    width 21px
    height 2px
    background-color $WHITE
    margin-bottom 5px

    &:last-child
      transform scaleX( 0.66 )
      transform-origin right
      margin-bottom 0