// @import './../../../../../style/common.styl'

// h1
//     position absolute
//     top 50%
//     left 50%
//     width 100%
//     text-align center
//     transform translate(-50%, -50%)
//     margin 0
//     font-size 500%

//   p
//     position absolute
//     top 50%
//     left 0
//     width 100%
//     text-align center
//     transform translateY(-50%)
//     margin 0
//     display none

//   form
//     position absolute
//     top 50%
//     left 5%
//     transform translateY(-50%)
//     width 90%

//   input
//     width 24%
//     height 15vh
//     box-sizing border-box
//     text-align center
//     background-color #ececec
//     font-size 300%

//   button
//     width 100%
//     margin-top 2vh
//     height 5vh
//     background-color #ececec
